head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title Site Name
	link(rel="icon", href="img/favicon.ico", type="image/gif" sizes="16x16")
	link(rel="stylesheet", href="css/style.min.css")
